@import "tailwindcss";

@theme {
    --font-family-base: 'Inter', sans-serif;
    --text-zero: 0px;
    --text-xs: 13px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 25px;
  }